<div ng-show="!dash.isDashboardDataAvailable" class="loading">Loading&#8230;</div>
<div class="container-fluid">
    <div id="modalDelete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <div class="row gl-border-bottom">
                        <div class="col-sm-4"><strong>Application :</strong></div>
                        <div class="col-sm-8">{{dash.deleteableRule.application_id}}</div>
                    </div>
                    <div class="row gl-border-bottom">
                        <div class="col-sm-4"><strong>Country :</strong></div>
                        <div class="col-sm-8">{{dash.deleteableRule.country}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><strong>Rule :</strong></div>
                        <div class="col-sm-8">{{dash.deleteableRule.service_operation}} {{dash.deleteableRule.service_type}}/{{dash.deleteableRule.service_name}}</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="dash.deleteRule()">Delete</button>
                    <!--<a class="btn btn-danger btn-ok" >Delete</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="margin: 0 0 20px;">
                            Filter results by
            </h2>
        </div>
    </div>
    <div class="row" ng-init="dash.hideAlertNumber()">
        <div class="col-lg-12">
            <div class="alert alert-danger fn_alert_number" id="danger-alert">
                <strong>Oops! </strong> Only numbers are allowed.
            </div>
        </div>
    </div>
    <div class="row" ng-init="dash.hideAlertString()">
        <div class="col-lg-12">
            <div class="alert alert-danger fn_alert_string" id="danger-alert">
                <strong>Oops! </strong> Only alphabets are allowed.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">
            <fieldset>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="application">Application</label>
                            <input class="form-control" id="application" name="application" type="text" autofocus="true" ng-model="search.application_id" focus-me/>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="country">Country</label>
                            <input class="form-control text-uppercase" id="country" name="country" type="text" ng-model="search.country" maxlength="2" valid-string />
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="defaultAccount">Default Account Group</label>
                            <input class="form-control" id="defaultAccount" name="defaultAccount" type="text" maxlength="4" ng-model="search.default_account_group" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">
            <fieldset>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label for="resource">Resource</label>
                            <select class="form-control" id="resource" name="resource" ng-model="search.service_type">
                                <option value="{{res.code}}" ng-repeat="res in dash.resources">{{res.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label for="resourceType">Resource Type</label>
                            <select class="form-control" id="resourceType" name="resourceType" ng-model="search.service_name">
                                <option value="{{resType.code}}" ng-repeat="resType in dash.resourcesType">{{resType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class="form-group">
                            <label for="serviceType">Service Type</label>
                            <select class="form-control" id="serviceType" name="serviceType" ng-model="search.service_operation">
                                <option value="{{service.code}}" ng-repeat="service in dash.servicesType">{{service.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-12 text-right'>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-click="dash.resetFilters()">Reset Filter</button>
                            <button type="submit" class="btn btn-info" ng-click="dash.refreshResults()">Refresh Result</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12 text-right'>
            <div class="form-group">
                <button type="submit" class="btn btn-success" ng-click="dash.addNewRule()">Add New Rule</button>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Authorization rule list</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background-color: #bbb;">
                        <tr>
                            <th>Application</th>
                            <th>Country</th>
                            <th>Linked Act. Groups</th>
                            <th>Default Act. Group</th>
                            <th>Rule</th>
                            <th>Created By</th>
                            <th>Created On </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="display:block-inline;" ng-show="dash.noOfPages == 0">
                            <td colspan="8">
                                <span class="help-inline" style="color:red;">No record found.</span>
                            </td>
                        </tr>
                        <tr ng-repeat="rule in dash.filteredRules = dash.authRuleList | filter:search | paginationFilter:(dash.currentPage-1)* dash.entryLimit | limitTo:dash.entryLimit">
                            <td>{{rule.application_id}}</td>
                            <td>{{rule.country}}</td>
                            <td>{{dash.parseLinkedAccount(rule.accountGroups)}}</td>
                            <td>{{rule.default_account_group}}</td>
                            <td>{{rule.service_operation}} {{rule.service_type}}/{{rule.service_name}}</td>
                            <td>{{rule.created_by}}</td>
                            <td>{{rule.created_on}}</td>
                            <td>

                                <button type="button" class="btn btn-primary btn-sm" name="edit" ng-click="dash.editRule(rule)">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" name="trash" ng-click="dash.openDeleteModal(rule)">
                                    <span class="glyphicon glyphicon-trash"></span> Trash
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination-sm pull-right" uib-pagination total-items="dash.totalItems" ng-model="dash.currentPage" max-size="dash.noOfPages" boundary-link-numbers="true" rotate="false" items-per-page="dash.entryLimit" ng-show="dash.noOfPages > 0"></ul>
        </div>
    </div>
</div>
<!-- /.container-fluid -->